* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/Images/homeBG_test.gif');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    position: relative;
}

#textBox {
    position: absolute; 
    top: 2.5%; 
    left: 50%; 
    transform: translateX(-50%);
    color: white;
    font-size: 1.8rem;
    text-align: center;
    -webkit-text-fill-color: rgb(0, 0, 0); 
    -webkit-text-stroke: 1px rgb(255, 0, 0);
  
}

#muChartContainer {
    position: absolute;
    top: 20%; 
    left: 50%;
    transform: translate(-50%, 0); 
    text-align: center;
}

#muChart {
    width: 35vw;
    height: auto; 
    border: 2px solid rgb(255, 0, 0);
    border-radius: 8px;
}

#muCaptionContainer {
    color: rgb(255, 0, 0);
    position: absolute;
    top: calc(20% + 19vw); 
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 30vw;
    font-size: 1.5rem; 
    text-align: center;
    background-color: rgba(0, 0, 0, .8); 
    padding: 10px; 
    border-radius: 10px; 
    border: 2px solid rgb(255, 0, 0);
}

#wojackContainer {
    position: absolute;
    top: 20%; 
    right: 5%; 
    text-align: center;
}

#zatoWojack {
    width: 15vw;
    height: auto;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 8px;
}

#dustBabyContainer {
    position: absolute;
    top: 20%;
    left: 5%; 
    text-align: center;
}

#zatoDustBaby {
    width: 15vw;
    height: auto;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 8px;
}

#zatoPunch{
    width: 15vw;
    height: auto;
   
}
#zatoPunchContainer {
    position: absolute;
    top: 55%;
    left: 5%; 
    text-align: center;
}
#zatoPunchCaption {
    font-size: 1.2rem;
    color: rgb(255, 0, 0); 
}
#zatoPunchCaptionContainer {
    position: absolute;
    top: calc(20% + 22vw + 5%);
    left: 12%;
    width: 60%; 
    max-width: 10vw; 
    max-height: 30vh; 
    text-align: center;
    background-color: rgba(0, 0, 0, .8); 
    padding: 10px;
    border-radius: 10px; 
    border: 2px solid rgb(255, 0, 0);  
}
#zatoOmni{
    width: 15vw;
    height: auto;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 8px;
}
#zatoOmniContainer {
    position: absolute;
    top: 60%; 
    right: 5%; 
    text-align: center;
}

#noteBox {
    color: rgb(255, 0, 0);
    position: absolute;
    top: 14.5%; 
    left: 5%;
    background-color: rgba(0, 0, 0, .7);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(255, 0, 0);
}
#boxContainer {
    position: absolute;
    top: 2.5%;
    left: 10%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px; 
}

.clickableButton {
    width: 200px;
    height: 100px;
    border: 2px solid black;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    color: black;
}

#homeButton {
    background-color: #000000; 
    border: 1px solid rgb(255, 0, 0);
    border-radius: 8px;
    color: rgb(255, 0, 0);
}

.clickableButton:hover {
    opacity: 0.8;
}

.clickableButton:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
